#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

.pokemon{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 20px;
  margin: 50px;
  padding-bottom: 55px;
  
}
.col a{
  text-decoration: none;
  color: black;
}
.col a h4{
  margin: 0;
}

.col{
  background-color: antiquewhite;
  text-align: center;
  padding: 26px;
  
}

.bgdetail{
  width: 220px;
  height: 350px;
  text-align: center;
  border-radius: 13px;
  background-color: antiquewhite;
  padding: 15px;
 
}

.container{
  margin-left: 600px;
  padding-top: 40px;
  padding-bottom: 315px;
}

.logo{
  width: 230px;
  height: 80px;
  padding: 15px;
}

.logo1{
  text-align: center;
  background-color: rgb(223, 9, 9);
}
#app{
  background-color: #313131;
}