#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

.pokemon{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-gap: 2px;
  margin: 50px;
}
.col a{
  text-decoration: none;
  color: black;
}
.col a h4{
  margin: 0;
}

.bgdetail{
  width: 220px;
  height: 350px;
  text-align: center;
  border-radius: 13px;
  background-color: aquamarine;
  padding: 15px;
}

.container{
  margin-left: 600px;
  padding-top: 40px;
}